.ll-header p {
  font-size: 2.5rem; }

.ll-header hr {
  margin-top: 0; }

.ll-header .nav ul {
  margin-bottom: 5px;
  margin-top: 10px; }
  .ll-header .nav ul li {
    display: inline-block; }
    .ll-header .nav ul li a {
      margin: 0 10px;
      text-decoration: none; }
