.ll-header {
  background-color: #4d4d4d;
  color: #4fc3f7; }
  .ll-header p {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0; }
  .ll-header .warn {
    color: yellow; }
  .ll-header hr {
    margin-top: 0; }
  .ll-header .nav {
    display: inline-block; }
    .ll-header .nav ul {
      margin-bottom: 5px;
      margin-top: 10px; }
      .ll-header .nav ul li {
        display: inline-block; }
        .ll-header .nav ul li a {
          color: #4fc3f7;
          font-size: 1.75rem;
          margin: 0 10px;
          text-decoration: none; }
